{% extends 'index.html' %}

<body>
{% block block_marks %}
{% if mark %}
<form method="get" action="{% url 'mark-update' mark.id %}">
    <button>Update</button>
</form>
<form method="get" action="{% url 'mark-delete' mark.id %}">
    <button>Delete</button>
</form>
    <table width=100% border="1px solid">
        <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Price</th>
        <th>Rating</th>
        </tr>
        <tr>
            <td>{{ mark.name }}</td>
            <td>{{ mark.text }}</td>
            <td>{{ mark.price }}</td>
            <td>{{ mark.rating }}</td>
        </tr>
    </table>
{% else %}
<h1>NOT FOUND</h1>
{% endif %}
{% endblock %}
</body>
